<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>
    <p> page page! e</p>
    <h1>efeeeeefwq</h1>
    <iframe name="myiframe" src="index.html" alt ="hi" width="500" height="270"></iframe>
    <p><a href="http://wikipedia.org" target="myiframe"> link </a></p>


    <table>
        <th>Name</th><th> Roll No. </th><th> subject </th><th> Mark </th>
        <tr><td> Raiyan   </td><td>739</td><td>socail science</td><td>21</td></tr>
        <tr><td> student1 &nbsp;</td><td>489</td><td>science</td><td>56</td></tr>
        <tr><td> student2 &nbsp;</td><td>213</td><td>maths</td><td>54</td></tr>
        <tr><td> student3 &nbsp;</td><td>231</td><td>tamil</td><td>38</td></tr>
    </table>

    <form method="get"><br><br><br>
         <label for="names">text type form : </label><input type="text" name="Name" placeholder="name of yu" id="names"><br><br>
         <label>number type form : </label><input type="date" name="age" placeholder="age"><br><br>
         <label>password type form : </label><input type="password" name="passw"><br><br>
         <label>submit: </label><input type="submit" value="log"><br><br>
         <label for="rating">rate us: </label><select name="rating" id="rating">
            <option value="rating-5"> 5 stars</option>
            <option value="rating-4"> 4 stars</option>
            <option value="rating-3"> 3 stars</option>
            <option value="rating-2"> 2 stars</option>
            <option value="rating-1"> 1 stars</option>
        </select>
        <br><br>
        <label> rate us starts: 5*<input type="radio" name="U-stars" value="5"></input>4*<input type="radio" name="U-stars" value="4"></input>3*<input type="radio" name="U-stars" value="3"t></input>2*<input type="radio" name="U-stars" value="2"></input>1*<input type="radio" name="U-stars" value="1"></input> </label>
    </form>

    </body>
</html>