@media screen and (min-width: 900.98px){
  .wrapper{
    margin-left: 10px;
    flex-direction: row;
    padding: 60px;
  }
  .progress .wrapper{
    flex-direction: column;
    padding: 0px;
  }
  .progress{
    width: -moz-available;
  }
  .mycontent{
    width: 50%;
  }
  .main{
        background: url('../img/imgs/boy1.jpg');
        background-position: center;
      background-size: cover;
 }
 .card-container{
       flex-direction: row;
 }
 .education-card ,
 .experience-card{
       margin: 40px 50px;
 }
}
