<!<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="width">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>my title</title>
        <link rel="author" href="humans.txt">
        <style>
 			.sth{
 				font-size: 60;
 				margin-bottom: -60;
 				text-decoration: underline;
 				color: pink;
 			}
 			.listi{
 				font-size: 20;
 			}
 			.ndh{
 				font-size:30;
 			}

        </style>
    </head>
    <body <img src="" alt="">
        <body style="background-image: url('pics//k00.jpg');">
    	<div class="sth">
    		<p> naughty america </p>
    	</div>
    		<a class="ndh"> celebreties</a>
    		<ol type="1" class="listi">
    		    <li>Javid</li>
                <li>Sree charith</li>
    		    <li>Khizer</li>
                <li>Javid</li>
                <li>Poornachandiran</li>
                <li>Zayan hussain</li>
    		    <li>Raiyan</li>
    		</ol>

    
        
       <!--  <script src="js/main.js"></script> -->
    </body>
</html>