*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    overflow: hidden;
}
menu{
    display: flex;
    align-items: center;
    padding: .3rem 1rem;
    padding-bottom: 1rem;
}
.logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
}
.logo img{
    height: 2rem;
    width: 2rem;
    background-color: red;
    margin-right: .5rem;
}
.logo h1{
    font-size: 2rem;
    letter-spacing: .2rem;
}
.about{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 1rem;
}
/* article section */
article{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    height: 90vh;
    transition: all 1s ease-in-out;
}
.pic{
    overflow: hidden;
    padding: 1rem;
}
.picy{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: safe;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}
.detail p{
    width: 100%;
    text-align: justify;
}
.detail p::before{
    content: " ";
    height: 1rem;
    width: 1rem;
    display: inline-block;
    background-color: white;
    margin-right: .4rem;
    border-radius: 50%;
}
/* context */
.context{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
}
.context h1{
    letter-spacing: .3rem;
    font-size: 4rem;
    display: inline;
}
.texties{
    display: flex;
}
.texties span{
    font-size: .7rem;
    letter-spacing: .1rem;
}
/* action buttons */
.action{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.action button{
    border: 1px solid white;
    padding: .5rem 1rem;
    height: max-content;
    width: max-content;
    border-radius: .4rem;
    background: black;
}
.action button svg{
    height: 3rem;
    width: 3rem;
}
.action button:nth-child(1) svg{
    transform: rotate(180deg);
}

/*  action are done here for js  */
article{
    position: absolute;
    transform: translateX(100%);
}
.active{
    transform: translateX(0);
}