*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ;
}
/* 2E4F4F for buttons

*/
@font-face {
    font-family: "myfont";
    src: url("gamefont.ttf");
    }
body{
    background:linear-gradient(45deg , #414b4b,#588d8d);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background:linear-gradient(-45deg , #0b7981,#8ddee0);
    height: 50vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem .5rem rgba(0, 0, 0, 0.13);
    transition: 1s all ease-in-out;
    min-height: 50vh;
    max-width: 50vh;
}
button{
    background-color: #2E4F4F;
    padding: .5rem 1rem;
    border: none;
    color: white;
    border-radius: .2rem;
    margin: .5rem;
    transition: .5s all ease-in-out;
    font-size: 1rem;
    font-family: myfont;

}
button:hover{
    transform: scale(1.05);
}
.counter{
    color: white;
    font-size: 5rem;
    font-family: myfont ;
}

@media only screen and (max-width: 768px) {
    .card{
        width: 90%;
        height: fit-content;
        padding: 1rem 0rem;
    }
    .card div{
        display: flex;
        flex-direction: row;
    }
    button{
        margin: 5px;
    }
}
@media only screen and (max-width: 300px) {
    .card div{
        flex-direction: column;
    }
}